.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /*282c34*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: red;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch !important;
    display: flex !important;
}

.navbar-menu {
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.navbar-item {
    display: flex !important;
}

.navbar-end {
    justify-content: flex-end !important;
    margin-left: auto !important;
}

.navbar-right {
    margin-right: 0px !important
}

.log {
    margin: 5px 20px 0 0;
}

.videos {
    border: 1px solid red;
    height: 400px;
}

.auth form {
    margin-top: 1em;
    max-width: 50%;
}

.buttons {
    margin-left: 1em;
}

.card-list {
    display: inline-block;
    margin-left: 2em;
}

.info {
    text-align: center;
}
